# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lab2/minimizaciya/.vs/
lab2/minimizaciya/out/
lab2/minimizaciya/x64/
lab2/minimizaciya/minimizaciya.dir/
lab2/minimizaciya/CMakeFiles/
lab2/minimizaciya/ALL_BUILD.vcxproj
lab2/minimizaciya/ALL_BUILD.vcxproj.filters
lab2/minimizaciya/cmake_install.cmake
lab2/minimizaciya/minimizaciya.vcxproj.filters
lab2/minimizaciya/minimizaciya.vcxproj
lab2/minimizaciya/CMakeCache.txt
lab2/minimizaciya/ZERO_CHECK.vcxproj
lab2/minimizaciya/ZERO_CHECK.vcxproj.filters
lab2/minimizaciya/Debug/minimizaciya.pdb
lab1.1/.vs/
lab1.1/build/
lab1.1/out/
lab1.1/AutomatConverter/.vs/
lab1.1/AutomatConverter/AutomatConverter.dir/
lab1.1/AutomatConverter/CMakeFiles/
lab1.1/AutomatConverter/out/
lab1.1/AutomatConverter/x64/
