# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lab1/x64/Debug/ZERO_CHECK/
lab1/lab1.dir/Debug/lab1.tlog/
lab1/CMakeFiles/
lab1/.vs/
lab1-without-cmake/main/.vs/
